<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- META -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="stylesheet" href="../css/inherit.css">
  </head>
<body>
<nav class="navblack">
    <img src="/images/Logo.svg" alt="NAMESPACES" height="39px" width="220px"/>
</nav>

<div class="container">
    <!-- <div class="namespace">Use namespace :<span id="namespaceName">namespace</span>:</div> -->
    <div class="menutextlarge">Log into your namespace</div>
    <div class="menutext outlined"><gr><i>const</i> char*</gr> <yel>space</yel></div>
    <div class="menutext"><input class="input" id="name" placeholder="namespace" maxlength="7" style="width: 12em"></div>
    <div class="menutext outlined"><gr>char*</gr> <yel>pwd</yel></div>
    <div class="menutext"><input class="input" id="password" placeholder="password" maxlength="15" style="width: 12em;"></div>
    <div class="menutext namespace" style="min-width: 20%;">Enter</div>

    
    
</div>
</body>


<script></script>

