<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- META -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <!-- /const -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/inherit.css">
  </head>
<body>
<nav class="navblack">
    <img src="/images/Logo.svg" alt="NAMESPACES" height="39px" width="220px"/>
</nav>

<form id="main" action="/auth" method="POST" class="container">
    <div class="menutextlarge">Creative is easy. <br/> Less names. More <i>spaces</i>.</div>
    <div class="namespace" onclick="submitAuth(0)">Use namespace :<input class="input" name="namespace" id="namespaceName" readonly value='<%= data.namespace %>'></input>:</div>
    <div class="menutext" onclick="submitAuth(1)">Already have a namespace? <span class="namespace">Log in.</span></div>
    <div class="menutextsmall" style="margin-top: 100px;">Made for private usage by KNTTK.<br/> © Komarridze 2025</div>
</form>
</body>

<script>

function submitAuth(type) {
  if (type == 0){
    document.getElementById('main').submit();
  }
  else {
    let temp = document.getElementById('namespaceName').value;
    document.getElementById('namespaceName').value = 'login';
    document.getElementById('main').submit();
    document.getElementById('namespaceName').value = temp;
  }
}


</script>

