<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- META -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/867a828ed9.js" crossorigin="anonymous"></script>
    
    <!-- /const -->
    <link rel="stylesheet" href="../css/workspace.css">
    <link rel="stylesheet" href="../css/inherit.css">
  </head>
<body>

<div class="container">
<div class="sidebar">

    <div class="top">
    <line>

        <img style="cursor: pointer !important;" src="/images/Logo.svg" alt="NAMESPACES" height="20px" width="110px"/>
        <div style="display: flex;flex-direction: row;">
        <div class="button"><i class="fa fa-bars"></i></div>
        <div class="button"><i class="fa fa-paperclip fa-flip-horizontal"></i></div>
        <div class="button"><img style="border-radius: 50%;" class="pfp" src="/images/Strawberry.jpg" alt="PFP" height="25px" width="25px">
        </div>
        </div>

    </line>
    
    <line>
        <div class="namespace">My Workspace</div>
        <div class="button"><i class="fa fa-right-to-bracket"></i></div>
    </line>

        
    </div>
    <div class="bottom">

    </div>


</div>
<div class="workspace"></div>

</div>
</body>

<script>



</script>

